* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
 
  body {
    line-height: 1.6;
    color: #ffffff;
    background-color: #0a170a;
  }
 
  /* Navbar */
  header {
    background: #111;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
 
  .navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
 
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }

  .text a {
    color: #00d435;
    font-weight: 500;
  }
  
  .text-and-image a{
    color: #00d435;
    font-weight: 500;
  }
 
  .nav-links a:hover {
    color: #00d435;
  }
 
  /* Hero Section */
  .hero {
    background: #007006;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
  }
 
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
 
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
 
  .btn {
    background: #fff;
    color: #00ff1a;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
  }
 
  .btn:hover {
    background: #0072ff;
    color: #fff;
  }
 
  /* Section Base */
  .section {
    padding: 80px 10%;
    text-align: center;
  }
 
  /* About */
  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
  }
 
  .about img {
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
  }
 
  /* Services */
  .service-cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .div-text{
    width: 25%;
  }

  .text-and-image{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
  }
 
  .card {
    background: #003e04;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
 
  .card h3 {
    color: #00940a;
    margin-bottom: 10px;
  }
 
  /* Portfolio */
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }
 
  .portfolio-grid img {
    width: 100%;
    border-radius: 10px;
  }
 
 
  /* Footer */
  footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
  }
